
.main-video-movie-info{
    width: 100%;
    height: 400px;
    border: none;
    outline: none;
}
.main-movie-movie-info-parent{
    /* margin-top: 70px; */
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}
.accordion-season-movie-info-parent{
    width: 40%;
    height: 400px;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 5px;
}
.accordion-season-movie-info{
    overflow: scroll;
    height: 320px;
}
.accordion-season-movie-info::-webkit-scrollbar {
    display: none;
}
.item-season-movie-info{
    display: flex;
    justify-content: space-between;
}
.right-item-season-movie-info>a{
    color: black;
}
.right-item-season-movie-info>span{
    border-radius: 50%;
    padding: 5px 10px; 
    margin-left: 10px;
    border: 1px solid black;
}
.accordion-item-season-movie-info>.accordion-collapse{
    transition: 0.3s;
}
.accordion-item-season-movie-info>.accordion-collapse:hover{
    background-color:rgb(163, 163, 163);
}
.accordion-item-season-movie-info>.accordion-collapse>.active-accordion-season{
    background-color:rgb(163, 163, 163);
}
.teaser-movie-info-parent{
    display: flex;
}
.teaser-movie-info{
    width: 100%;
}
.teaser-text-movie-info-parent{
    width: 90%;
    margin-right: 20px;
    height: 400px;
    overflow: scroll;
}
.teaser-text-movie-info-parent::-webkit-scrollbar {
    display: none;
}
.header-teaser-text-movie-info{
    display: flex;
    align-items: center;
}
.icon-text-teaser-movie-info{
    margin-left: 10px;
    font-size: 16px;
}
.download-box-movie-info-parent{
    background-color: #141419;
    padding: 15px;
    margin-top: 40px;
    font-size: 18px;
}
.download-box-movie-info{
    background-color: var(--primary-color);
    border-radius: 5px;
    display: flex;
    width: 100%;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}
.hd-cam-box-movie-info-parent{
    background-color: #141419;
    padding: 15px;
    margin-top: 40px;
    font-size: 18px;
}
@media(max-width:991px){
    .main-movie-movie-info-parent{
        display: block;
    }   
    .movie-movie-info{
        width: 100%;
    }
    .accordion-season-movie-info-parent{
        width: 100%;
        margin-top: 20px;
        height: 400px;
    }
    .teaser-movie-info-parent{
        display: block;
    }
    .h2-title-box-movie-movie-info{
        text-align: center;
    }
}