.admin-comments-parent{
    width: 90%;
    padding: 15px;
    margin: auto;
    border-radius: 5px;
    background-color: var(--primary-color);
    box-shadow: 2px 1px 5px 5px rgba(0, 0, 0, 0.4);
}
.admin-comments-parent>table{
    width: 100%;
    text-align: center;
}
.admin-comments-parent>table>thead{
    border-bottom: 1px solid white;
}
.tr-tbody-table-admin-comments>td{
    border-left: 1px solid white;
    padding: 5px;
    min-width: 100px;
}
.red-td-admin-comments{
    background-color: rgb(232, 32, 32);
}
.green-td-admin-comments{
    background-color: rgb(21, 181, 21);
}
@media(max-width:650px){
    .tr-tbody-table-admin-comments>td{
        border: 1px solid white;
    }

}
@media(max-width:600px){
    .admin-comments-parent{
        overflow-y: scroll;
    }
}