.filter-box-parent{
    display: flex;
    background-color: var(--primary-color);
    margin: auto;
    width: 96%;
    padding: 10px;
}
.btn-search-filter-box{
    color: white;
    background-color: #6898f8;
    border: none;
    border-radius: 5px;
    height: 48px;
    margin: 10px;
    font-size: 16px;
    width: 20%;
    text-align: center;
    padding-top: 7px;
}
.filter-btn-box-parent{
    width: 90%;
    margin: auto;
    display: none; 
}
.filter-btn-filter-box{
    width: 100%;
}
.filter-box-parent-swal{
    margin: auto;
    width: 96%;
    padding: 10px;
}
@media(max-width:1100px){
.filter-btn-box-parent{
    display: block;
}
.filter-box-parent{
    display: none;
}
}