@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@font-face {
  font-family: iranSans;
  src: url(../src/fonts/IRANSans/IRANSans.ttf);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "iranSans";
}
body{
  direction: rtl;
  background-color: var(--bg-body) !important;
  color: white !important;
  overflow-x: hidden;
}
li{
  list-style: none;
}
a{
  text-decoration: none !important;
}
@media(max-width:350px){
  *{
    font-size: 14px;
  }
}